body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
    margin-bottom: auto;
}

h4 {
    font-size: 24px;
    color: #F9FAF8;
    margin: 0;
}

ul {
    display: flex;
    text-decoration: none;
    margin: 0;
}

li, a, .main p { 
    list-style: none;
    color: #a4a4a4;
    font-size: 24px;
    padding: 10px;
}

.main p {
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.main {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
}

.main-text {
    display: flex;
    flex-direction: column;
    padding: 50px 150px;
    max-width: 50%;
    margin-right: -50px;
}

h1 { 
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.main-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    max-width: 50%;
}

img {
    max-width: 65%;
    max-height: auto;
    margin: 0;
    padding: 0;
    border-radius: 4px;
}

.main-button, .call-button {
    height: 30px;
    width: 100px;
    background-color: #3882f6;
    color: white;
    border-radius: 4px;
    border: none;
}

.call-button {
    border: solid white 1px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.cards {
    display: flex;
    justify-content: center;
    padding: 80px 150px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.card img {
    border: solid #3882f6 2px;
    height: 150px;
    width: 200px;
    margin-bottom: 30px;
}

figcaption {
    text-align: center;
    width: 200px;
    color: #1F2937;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 300px;
}

.quote p {
    font-size: 36px;
    color: #1f2937;
}

.quote p:nth-child(1) {
    font-weight: lighter;
    font-style: italic;
    margin: 0;
}

.quote p:nth-child(2) {
    font-weight: bolder;
    margin: 0;
}

.call {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px;
}

.call-content {
    display: flex;
    background-color: #3882f6;
    border-radius: 4px;
    padding: 50px 100px;
}

.call-text {
    display: flex;
    flex-direction: column;
    padding: 0px 50px;
}

.call-text p {
    color: #F9FAF8;
}

.c-button {
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    margin-top: auto;
    padding: 15px;
}

.footer p {
    color: white;
}

div {
    /* border: solid red 1px; */
}